@model KocDigital.Models.Product

@{
    ViewData["Title"] = "create";
}

<h1>Create Product</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="productName" class="control-label">Product Name</label>
                <input asp-for="productName" class="form-control" />
                <span asp-validation-for="productName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productDescription" class="control-label">Product Description</label>
                <input asp-for="productDescription" class="form-control" />
                <span asp-validation-for="productDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productPrice" class="control-label">Product Price</label>
                <input asp-for="productPrice" class="form-control" />
                <span asp-validation-for="productPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="productStock" class="control-label">Product Stock</label>
                <input asp-for="productStock" class="form-control" />
                <span asp-validation-for="productStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
